@import url('root.css');

legend{
    position: relative;
    right:2em;
}

.education-section{
    display: grid;
    grid-template-columns: 50% 1fr; 
    grid-template-rows: auto 50px;
    margin-top: 3em;
    border-bottom: solid 1px rgba(128, 128, 128, 0.448);
}

.EduFirstPair, .EduSecondPair{
    display: flex;
    gap:1rem;
    padding-top: 1rem;
    justify-content: space-around;
}

.edufirst, .eduthird{
    position:relative;
    right:2em;
}
h2{
    font-size: 2em;
    place-self: center;
    justify-content: center;
    align-items: center;
    letter-spacing: 3px;
}

.edu-details{
    justify-content: start;
    align-items: start;
    place-items: start;
    position: relative;
    top: 12px;
}

.year{
    font-style:oblique;
}

.school{
    font-size: 1.3rem;
}

