*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: lighter;
    color: rgb(39, 37, 37);
}

input{
    width: 50% !important;
  font-size: 1rem;
}

fieldset{
    width: 100%;
}

textarea{
    width: 100%;
}

.bttn{
    width: 8rem;
}

.btN{
    display: flex;
    justify-content: end;
}