*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: lighter;
    color: rgb(39, 37, 37);
}

input{
    width: 120% ;
  font-size: 1rem;
}

fieldset{
    width: 100%;
}

textarea{
    width: 100%;
}

.bttn{
    width: 8rem;
    background:rgb(215, 184, 135);
    border:none;
    color:white;
    border-radius: 14px;
    height:2em;
    padding-bottom: 12px;
}
button{
    cursor: pointer;
}
.btN{
    display: flex;
    justify-content: end;
    width:118%;
    position: relative;
    right:2em;
    padding-top: 14px;
}